<h1>Welcome to <%= h1_var %>!</h1>
<h3>
<a href="https://kemalcr.com/guide/">Kemal Guide</a>
</h3>
<h4>
Location: /bin/kemal
</h4>
<footer>Built with <a href="https://github.com/whk-io/Kemal-CBDE">Kemal-CBDE</a></footer>
